body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_header {
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    z-index: 3;
}

.main_nav {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
}

.main_nav ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.bg_left_wrapper {
    position: relative;
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.bg_left {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.value_prop {
    /* position: absolute; */
    /* top: 30vh; */
    /* left: 100px; */
    color: #ffffff;
    z-index: 2;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 200px;
}